.App {
  text-align: center;
}

.App__container {
  padding-top: 50px;
  margin: 0 auto;
  width: 320px;
}

.App__container--buttons-blok {
  
}

.App__container--buttons-blok:last-child {
  margin-right: 0;
}

.App--button {
  border: none;
  font-size: 25px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}

.App--button:hover {
  transform: scale(1.2);
}

.button-primary {
  background-color: cyan;
}

.button-danger {
  background-color: crimson
}

.button-reset {
  background-color: gold;
}

.button-async {
  background-color: darkgray;
}

.JSON-list {
  text-align: start;
}
